.nav-section {
    background-color: ;
    padding: 50px;
}

.navbar-brand {
    width: 100%;
    margin-top: -80px;
}

.container {
    
    
}

.navbar-inverse {
    height: 130px;
    background-color: #092746;
}